* {font-family: Verdana, Geneva, Tahoma, sans-serif;}
#num {
    font-size: 36px;
    text-align: center
}
.btn {
    height: 48px;
    width: 108px;
    font-size: 18px;
    background-color: rgb(72, 166, 230);
    color: whitesmoke;
    border-radius: 15px;
    border: solid 2px
}
#btns {
    text-align: center;
    border: solid 2px
}

